body{
    background-color: #000033;
}

h1,h2,h3,h4,h5{
    font-family: Roboto;
}

.btn{
    background-color: transparent;
    color: black;
    border: none;
    border-color: none;
}

.btn-primary:hover{
    background-color: transparent;
        border: none;
    border-color: none;
}

img{
    width: 20%;
        border: none;
    border-color: none;
}

.detail-likeHeart{
    width: 30%;
}
